@import "./base.scss";

#root {
  width: 100vw;
  height: 100vh;
  background-color: $c2;
  color: $c4;
  @include flexC();
  align-items: center;
  header {
    width: 100%;
  }
  a {
    text-decoration: none;
    color: $c4;
    &:hover {
      text-decoration: underline;
    }
  }
}
