@import "./base.scss";

#root {
  width: 100vw;
  height: 100vh;
  background-color: $c2;
  color: $c4;
  @include flexC();
  align-items: center;
  header {
    width: 100%;
  }
  .main {
    @include flexR();
    background-color: $c1;
    padding: 0 1rem;
    max-width: 30rem;
    margin-bottom: 1rem;
    flex-grow: 1;
  }
}
