@import "./base.scss";
.details-container {
  h3 {
    font-size: 1.2rem;
    font-weight: bolder;
  }
  .suggestions-container {
    @include flexC();
    overflow-y: auto;
    gap: 0.5rem;
    .suggestion-card {
      @include flexC();
      gap: 0.25rem;
      padding: 0.25rem;
      background-color: darken($c1, 20);
      button {
        background-color: transparent;
        border: 1px solid $c2;
        padding: 0;
        color: $c4;
      }
    }
  }
}
