@import "./base.scss";
.main {
  @include flexR();
  justify-content: center;
  background-color: $c1;
  overflow-y: hidden;
  margin-bottom: 1rem;
  .primary-list-container {
    @include flexC();
    gap: 0;
    height: 100%;
    overflow-y: auto;
    width: 30vw;
    min-width: 10rem;
  }
  .details-container {
    @include flexC();
    height: 100%;
    overflow-y: auto;
    padding: 0.5rem;
    width: 50vw;
    min-width: 10rem;
  }
  .song-list {
    @include flexC();
    padding-top: 1rem;
    gap: 0.5rem;
    overflow-y: auto;
  }
}
