@import "./base.scss";
.primary-list-container {
  padding: 0.5rem;
  flex-grow: 0;
  width: 33%;
  border-right: 1px solid $c2;
  .search-bar,
  .filter-bar {
    @include flexC();
    gap: 0;
    button[type="submit"] {
      justify-self: stretch;
      border-radius: 0 0 0.5rem 0.5rem;
    }
  }
  .tabs {
    @include flexR();
    justify-content: flex-start;
    gap: 0.25rem;
    button {
      color: $c2;
      border-radius: 0.5rem 0.5rem 0 0;
      background-color: darken(desaturate($c5, 30), 20);
      border: none;
      &:hover {
        cursor: pointer;
        color: $c1;
        background-color: $c2;
      }
      &.active {
        &:hover {
          cursor: default;
        }
        color: darken($c1, 50);
        background-color: $c2;
      }
    }
  }
  border-top-right-radius: 0.5rem;
  background-color: $c5;
  padding: 0.25rem;
  button {
    font-family: "Courier New", Courier, monospace;
    border-radius: 0 0.5rem 0.5rem 0;
    border: none;
    &:hover {
      cursor: pointer;
    }
  }
}
