@import "./base.scss";
.primary-list-container {
  @include flexC();
  background-color: transparentize($c1, 0.5);
  border-radius: 0.5rem;
  gap: 0;
  height: 100%;
  width: 30vw;
  min-width: 10rem;
  padding: 0.5rem;
  .search-bar,
  .filter-bar {
    @include flexC();
    gap: 0;
    input {
      border-top-right-radius: 0.5rem;
      background-color: lighten(desaturate($c1, 40), 10);
      color: $c2;
      border: none;
    }
    button[type="submit"] {
      justify-self: stretch;
      border-radius: 0 0 0.5rem 0.5rem;
      color: $c2;
      background-color: $c1;
      margin-bottom: 0.5rem;
    }
  }
  .tabs {
    @include flexR();
    justify-content: flex-start;
    gap: 0.25rem;
    button {
      color: desaturate(darken($c2, 20), 50);
      border-radius: 0.5rem 0.5rem 0 0;
      background-color: darken($c1, 10);
      border: none;
      &:hover {
        cursor: pointer;
        color: $c2;
        background-color: $c1;
      }
      &.active {
        &:hover {
          cursor: default;
        }
        color: $c2;
        background-color: $c1;
      }
    }
  }
  button {
    border-radius: 0.5rem;
    border: none;
    &:hover {
      cursor: pointer;
    }
  }
  .song-list {
    @include flexC();
    padding: 0.5rem;
    gap: 0.5rem;
    overflow-y: auto;
  }
}
